@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("/Switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #0f0e0e;
  --foreground: #ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Switzer", Helvetica, sans-serif;
}
